* {
    font-family: sans-serif;
}
#house {
    box-sizing: border-box;
    width: 200px;
}
.floor {
    box-sizing: border-box;
    height: 21%;
    margin: 2px;
}
.room {
    height: 77px;
}
.reading {
    color: white;
    margin: 0 8px;
}
h2 {
    height: 11%;
    margin: 0;
    padding: 0;
}

#chartContainer1Day {
}

.box {
    display: flex;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 77px 0 0 77px;
    border-color: transparent transparent transparent #007bff;
}

.floor4 .room41 {
    width: 100px;
}
.floor3 .room1 {
    width: 65%;
}
.floor3 .room2 {
    width: 35%;
}

